= image_tag(user.image.to_s, id: 'user_image')
%p= user.email
%p= link_to 'プロフィールを編集する', edit_user_path
%p= link_to '配送先を編集する', edit_user_address_path
%p= link_to 'ログイン情報を編集する', edit_user_registration_path
