%h1 注文履歴
.mb-3
%table.table.table-hover
  %thead.thead-default
    %tr
      %th 注文番号
      %th 合計料金
      %th 宛先
      %th 配送先
      %th 配達日
      %th 配達時間帯
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.id, order
        %td= order.total_price
        %td= order.user_name
        %td= order.user_location
        %td= order.delivery_date
        %td= order.delivery_timezone

