%h1 注文画面
= simple_form_for(@order, url: :orders) do |f|
  %table.table.table-hover
    %tbody
      %tr
        %td 小計
        %td= @order.subtotal
        %td
        %td
      %tr
        %td 代引き手数料
        %td= @order.cash_on_delivery
        %td
        %td
      %tr
        %td 送料
        %td= @order.delivery_fee
        %td
        %td
      %tr
        %td 税金
        %td= @order.tax_fee
        %td
        %td
      %tr
        %td 合計
        %td= @order.total_price
        %td
        %td
  %table.table.table-hover
    %tbody
      %tr
        %td= f.select :delivery_date, delivery_date_list
        %td= f.select :delivery_timezone, delivery_timezone_select_options
  %table.table.table-hover
    %tbody
    - @order.order_details.each do |order_detail|
      %tr
        %td= order_detail.product.name
        %td= order_detail.unit_price
        %td= order_detail.quantity
        %td= order_detail.subtotal
  = f.submit "商品を購入する", class: "btn btn-primary btn-lg btn-block"
