%h1 注文履歴の詳細

.mb-3
%table.table.table-hover
  %thead.thead-default
    %tr
      %th= Product.human_attribute_name(:name)
      %th= Product.human_attribute_name(:image)
      %th= Product.human_attribute_name(:price)
      %th= OrderDetail.human_attribute_name(:quantity)
  %tbody
    - @order.order_details .each do |detail|
      %tr
        %td= link_to detail.product.name, product_path(id: detail.product_id)
        %td= detail.product.image
        %td= detail.unit_price
        %td= detail.quantity
