%h2 ショッピングカート
.mb-3
%table.table.table-hover
  %thead.thead-default
    %tr
      %th= Product.human_attribute_name(:name)
      %th= Product.human_attribute_name(:price)
      %th= Cart.human_attribute_name(:quantity)
      %th
  %tbody
    - @cart.cart_items.each do |item|
      %tr
        %td= link_to item.product.name, product_path(item.product_id)
        %td= item.product.price
        %td= item.quantity
        %td= link_to '削除', delete_item_cart_path(product_id: item.product_id), method: :delete, data: { confirm: "カートから商品を削除します。よろしいですか？" }, class: 'btn btn-danger'
- unless @cart.cart_items.blank?
  = link_to '注文画面へ', new_order_path, class: 'btn btn-primary'
