%h1 商品の詳細
.nav.justify-content-end
  - if current_user.admin?
    = link_to "この商品を削除する", admin_product_path(@product), method: :delete, class: "nav-link"
  = link_to "一覧", root_path, class: "nav-link"
%table.table.table-hover
  %tbody
    %tr
      %th= Product.human_attribute_name(:id)
      %td= @product.id
    %tr
      %th= Product.human_attribute_name(:name)
      %td= @product.name
    %tr
      %th= Product.human_attribute_name(:image)
      %td= image_tag("banana.jpg", {width: "300px", height: "200px"})
    %tr
      %th= Product.human_attribute_name(:price)
      %td= @product.price
    %tr
      %th= Product.human_attribute_name(:description)
      %td= @product.description
    %tr
      %th= Product.human_attribute_name(:hidden)
      %td= @product.hidden
    %tr
      %th= Product.human_attribute_name(:position)
      %td= @product.position
      
= button_to "カートに追加する", add_item_cart_path(product_id: @product.id, quantity: 1), class: "btn btn-primary btn-lg btn-block"
